*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo img{
    width: 39%;
    border: 3px solid white;
    border-radius: 50px;
}



.back1{
    background-color: rgb(49, 46, 46);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width: 50%;
    /* background-color: rgb(49, 46, 46); */
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 24px 30px;

}

.nav-list li a{
    text-decoration: none;
    color: white;
}

.nav-list li a:hover{
    color: grey;
}

.rightNav{
    width: 50%;
    /* background-color: rgb(49, 46, 46); */
    display: flex;
    align-items: center;
    
}

.rightNav{ 
    display: block;
    text-align: right;
}

.rightNav li{
    list-style: none;
    padding: 24px 30px;
    

}

.rightNav li a{
    text-decoration: none;
    color: white;

}

.rightNav li a:hover{
    color:grey
}
/* .btn{
    padding: 2px;
    font-size: 14px;
    border: 2px solid rgb(248, 243, 243);
    /* border-radius: 9px; */
/* } */


.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    margin:auto
    
}

.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1%;
    
}

.secondhalf{
    margin-top: 1%;
    width: 30%;
}

.secondhalf img{
    width: 90%;
    /* padding: 4px; */
    border: 4px solid saddlebrown;
    border-radius: 50px;
    display: block;
    margin: auto;
}

.backcolor1{
    background-color: #b0e164;
    margin-top: 20px;

}

/* .backcolor2{
    background-color: #b0e164;
    /* margin-top: 20px; */

 /* }   */ 

.text-big{
    font-size: 45px;
}

.text-small{
    font-size: 20px;
}
.secondsection{
    display: flex;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    align-items: center;
}

caption{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.second-tr{
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 15px;
}


.third-tr{
    justify-content: center;
    align-items: center;
   font-size: 16;
    color: rgb(90, 89, 89);
    margin-bottom: 52px;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 95%;
    margin: auto;
    
 
}

.paras{
    padding: 65px;
}

.left{
 
    flex-direction: row-reverse;
}

.thumbnail img{
    width: 400px;
    border: 4px solid rgb(43, 39, 39);
    border-radius: 50px;
    margin-top: 50px

}

.text-footer{
    background-color: #1a1919;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    justify-content: center;
    color: white;
}



.burger{ display: none;
    position: fixed;
    cursor: pointer;
    right: 2%;
    top: 15px;
    
}

.line{
    width: 33px;
    height: 4px;
    margin: 3px 3px;
    background-color: rgb(100, 30, 30);
}

@media only screen and (max-width: 1318px){
    .nav-list{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        max-width: 100%;
        

    }
    .rightNav{
        text-align: left;
    }

    
.burger{ 
    display: block;
}

.h-nav{
    height: 400px;
}

}






.from{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;

    }

/* .background{
    background: rgba(0, 0, 0, 0.7) url('/Img/istockphoto-1312706504-170667a.jpg');
    background-size: cover;
    background-blend-mode: darken;
} */

.form-li{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;

    
}

.form-1{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
   
}

.form-2{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    /* margin-right: 35px */
   
}

.btn-submit{
    display: block;
    outline: none;
    border: solid 1px #0081D5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 16px 30px;
    border-radius: 30px;
    background: white;
    color: #0081D5;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    margin-top: 50px;
}

.btn-submit:hover,
.btn-submit:focus{
    background: #0081D5;
    color: white;
}

.btn-submit:active{
    background: #003659;
}


.size{
    display: flex;
    justify-content: center;
    margin: auto;
}

.Login{
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 20px
}

.login1{
    padding: 5px;
    margin-top: 70px;
}

.login1-2{
    padding: 5px;
   
} 

.login2{
    display: block;
    outline: none;
    border: solid 1px #0081D5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 16px 30px;
    border-radius: 30px;
    background: white;
    color: #0081D5;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    margin-top: 50px;
}


.login2:hover,
.login2:focus{
    background: #0081D5;
    color: white;
}

.login2:active{
    background: #003659;
}

.account{
    justify-content: center;
    display: flex;
}

.account{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: auto;
    align-items: center;
     text-align: center;
}

.account1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin-top: 30px;
}


.account2{
    padding: 5px;
    margin: 3px;
}


.account3{
    display: block;
    outline: none;
    border: solid 1px #0081D5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 16px 30px;
    border-radius: 30px;
    background: white;
    color: #0081D5;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    
}

.account3:hover,
.account3:focus{
    background: #0081D5;
    color: white;
}

.account3:active{
    background: #003659;
}

.details{

  display: flexbox;
    justify-content: center;
    text-align: center;
    max-width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 1350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
} 

.details1{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px ;
}


.details thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.details th,
.details td {
    padding: 12px 15px;
    text-align: center;
}


.details tbody tr {
    border-bottom: 1px solid #dddddd;
}

.details tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.details tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.details tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}