{% extends "index.html" %}
{% load static %}

{% block title %}MedEasy About{% endblock %}

{% block content %}
   
<div class="container my-5">
    <div class="row align-items-center mb-5">
        <div class="col-md-7">
            <h2 class="display-6">About The Project</h2>
            <p class="lead">This website was created by a student of Shri Guru Gobind Singhji Institute of Engineering & Technology, Vishnupuri, Nanded as a project to apply and showcase web development skills.</p>
        </div>
        <div class="col-md-5 text-center">
            <img class="img-fluid rounded-circle shadow-sm" src="{% static 'Img/download.jpg' %}" alt="SGGSIE&T Logo" style="max-width: 450px;">
        </div>
    </div>
    <hr class="my-5">
    <div class="row align-items-center mb-5">
        <div class="col-md-7 order-md-2">
            <h2 class="display-6">About The Developer</h2>
            <p class="lead"><b>Pravin Kulkarni</b> is the developer of this website. He is currently pursuing a B.Tech in Computer Science Engineering from Shri Guru Gobind Singhji Institute of Engineering & Technology, Vishnupuri, Nanded.</p>
        </div>
        <div class="col-md-5 order-md-1 text-center">
            <img class="img-fluid rounded-circle shadow-sm" src="{% static 'Img/download2.png' %}" alt="Pravin Kulkarni" style="max-width: 300px;">
        </div>
    </div>
</div>

<div class="bg-light py-5">
    <div class="container text-center">
        <h2 class="mb-4">Contact Us</h2>
        <p class="lead">
            <i class="fas fa-envelope me-2"></i>
            <a href="mailto:pravinkulkarni440@gmail.com" class="text-decoration-none">pravinkulkarni440@gmail.com</a>
        </p>
        <p class="lead">
            <i class="fas fa-phone me-2"></i>
            <a href="tel:+919552403843" class="text-decoration-none">+91 9552 403 843</a>
        </p>
    </div>
</div>
 
{% endblock %}